<% layout("/layouts/boilerplate") %>

<div class="row mt-4">
  <div class="alert alert-danger col-6 offset-3 text-center">
    <h4 class="alert-heading"><%= message %></h4>
    <a href="/listings" class="btn btn-outline-danger mt-3">
      Back to Listings
    </a>
  </div>
</div>
