<% layout("/layouts/boilerplate") -%>

<div class="row">
  <div class="col-8 offset-2">

    <h3>Create a New Listing</h3>

    <form method="POST" action="/listings" enctype="multipart/form-data" class="needs-validation" novalidate>

      <!-- TITLE -->
      <label class="form-label">Title</label>
      <input name="listing[title]" type="text" class="form-control" required>
      <div class="invalid-feedback">Title is required.</div>
      <br>

      <!-- DESCRIPTION -->
      <label class="form-label">Description</label>
      <textarea name="listing[description]" class="form-control" required></textarea>
      <div class="invalid-feedback">Description is required.</div>
      <br>

      <!-- 🖼 MULTIPLE IMAGES -->
      <label class="form-label">Upload Images</label>
      <input type="file" name="image" multiple class="form-control" required>
      <br>

      <!-- PRICE & COUNTRY -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label class="form-label">Price</label>
          <input name="listing[price]" type="number" class="form-control" required min="1">
        </div>

        <div class="mb-3 col-md-8">
          <label class="form-label">Country</label>
          <input name="listing[country]" type="text" class="form-control" required>
        </div>
      </div>

      <!-- LOCATION -->
      <label class="form-label">Location</label>
      <input name="listing[location]" type="text" class="form-control" required>
      <br>

      <!-- CATEGORY -->
      <label class="form-label">Category</label>
      <select name="listing[category]" class="form-select" required>
        <option value="">Select category</option>
        <option value="Iconic Cities">Iconic Cities</option>
        <option value="Castles">Castles</option>
        <option value="Amazing Pools">Amazing Pools</option>
        <option value="Camping">Camping</option>
        <option value="Farm">Farm</option>
        <option value="Arctic">Arctic</option>
      </select>

      <br>

      <button class="btn btn-primary">Add</button>

    </form>

  </div>
</div>