<% layout("/layouts/boilerplate") -%>

<h3>Verify OTP</h3>

<form action="/verify-otp" method="POST">
  <input type="hidden" name="email" value="<%= email %>">

  <input type="text" name="otp" class="form-control mb-3" placeholder="Enter OTP" required>

  <input type="password" name="password" class="form-control mb-3" placeholder="New Password" required minlength="6">

  <button class="btn btn-success">Reset Password</button>
</form>